.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}

.centered th,
.centered td {
    text-align: center;
    vertical-align: middle !important;
}

span.ball {
    background: red;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    line-height: 1.6em;
    width: 1.6em;
    font-size: 72px;
}
