
<!DOCTYPE html>
<html ng-app="app" ng-model-options="{ getterSetter: true }">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/bowling-ball.png">

    <title>Bowling Game</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
  </head>

  <body ng-controller="MainController as CT">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Bowling Game</h1>
        <p>This is a classic Bowling game implemented in Angular 1.x and ECMAScript6.</p>
        <ul>
          <li>To start a game, add one or more players and click the "Start Game" button.</li>
          <li>To play a game, click the "Throw a Ball" button for each player.</li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <h2 class="page-header">Players</h2>

          <div class="alert alert-warning" role="alert" ng-hide="game.hasPlayers">
            Add players to start a game.
          </div>

          <ul class="list-group" ng-show="game.hasPlayers">
            <li class="list-group-item" ng-repeat="player in game.players">
              {{ player.name }}
              <span class="badge" ng-show="game.isStarted">0</span>
              <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="CT.leave(player.name)" ng-hide="game.isStarted">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button> 
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <h2 class="page-header">Game</h2>
          
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-2"><label>Status</label></div>
                <div class="col-md-4">Not Started</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-2"><label>Player</label></div>
                <div class="col-md-4">John</div>
              </div>
            </li>
            
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-2"><label>Last Ball</label></div>
                <div class="col-md-4">3</div>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <h2 class="page-header">Ball</h2>
          <div class="alert alert-warning" role="alert" ng-hide="game.isStarted">
            Start a game to throw a ball.
          </div>
          <div class="ball" ng-show="game.isStarted">
            <span>?</span>
          </div>
        </div>

      </div>
      
      <div class="row">
        <div class="col-md-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Player Name" aria-label="..." ng-disabled="game.isStarted" ng-model="newPlayer" ng-enter="CT.join()">
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary" ng-disabled="game.isStarted" ng-click="CT.join()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Join
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <button class="btn btn-block btn-primary" ng-disabled="game.isStarted" ng-click="CT.start()">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start Game
          </button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-block btn-secondary" ng-disabled="!game.isStarted" ng-click="CT.finish()">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Finish Game
          </button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-block btn-success" ng-disabled="!game.isStarted" ng-click="CT.throw()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Throw a Ball
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="page-header">Scoreboard</h2>

          <div class="jumbotron" ng-hide="game.hasPlayers">
            <h2>No game :(</h2>
            <p>There are no players in this game.</p>
          </div>

          <table class="table table-bordered centered" ng-show="game.hasPlayers">
            <thead class="thead-inverse">
              <tr>
                <th rowspan="2">Player</th>
                <th colspan="2">1</th>
                <th colspan="2">2</th>
                <th colspan="2">3</th>
                <th colspan="2">4</th>
                <th colspan="2">5</th>
                <th colspan="2">6</th>
                <th colspan="2">7</th>
                <th colspan="2">8</th>
                <th colspan="2">9</th>
                <th colspan="3">10</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody ng-repeat="player in game.players">
              <tr>
                <th rowspan="2" scope="row">
                  {{ player.name }}
                </th>
                <td ng-repeat="roll in player.rolls track by $index">.</th>
                <th rowspan="2">0</th>
              </tr>
              
              <tr class="table-active">
                <th colspan="{{ frame.rolls.length }}" ng-repeat="frame in player.frames">-</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr/>
      <footer>
        <p>&copy; Denis Da Silva 2016</p>
      </footer>
    </div> <!-- /container -->


    <!-- Vendor libraries -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/lib/angular/angular.min.js"></script>
    <script src="assets/lib/angular-bootstrap/ui-bootstrap.min.js"></script>

    <!-- App scripts -->
    <script src="js/app.js"></script>
  </body>
</html>
